@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    padding: 0px;
    margin: 0px;
}
body{

    background: black;
    width: 100vw;
    height: 100vh;

}
.cardsdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: calc(100vh - 46.4px);
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 50px;
    border-bottom: 8px solid yellow;
    margin-bottom: 50px ;
    padding: 13px ;
}
.text-box{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid yellow;
}
.text-box i{
    width: 26px;
    float: left;
    text-align: center;

}
.text-box input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80px;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid yellow;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0 ;
}
.btn:hover {
    border: 2px solid #FFF8DC;
}
.img1{
    position: absolute;
    width: 500px;
    height: 500px;

  margin-top: 300px;

}

.text1 {
    position: absolute;
    padding-left: 600px;
    padding-top: 400px;
    padding-right: 12%;
    color: white;
}
.img2 {
 position: absolute;
    margin-top: 900px;
    margin-left: 800px;
    padding-right: 50px;

}

.text2 {
    position: absolute;
    color: white;
    padding-top: 900px;
    padding-right:900px;
}
.card{
    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}
.card-image{
    grid-area: image;
    background: url("img/about-us.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 25px;
}
.card-text .date{
    color: rgb(255, 230, 7);
    font-size: 13px;
}
.card-text p {
    color: gray;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}
.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background:rgb(255, 230, 7) ;
}
.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.ww{
    color: white;
}
.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.card-stats .value{
    font-size: 22px;
    font-weight: 500;
}
.card-stats .border {
    border-left: 1px solid rgb(255, 230, 7);
    border-right: 1px solid rgb(255, 230, 7);
}
.card-stats .value sup {
    font-size: 12px;
}
.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


    /*card2*/
.card-image.card2 {
    background: url("img/login.jpeg");
    background-size: cover;
}
.card-text.card2 .date {
    color: rgb(255, 77, 7);
}
.card-stats.card2 .border {
    border-left: 1px solid rgb(185, 67, 20);
    border-right: 1px solid rgb(185, 67, 20);
}
.card-stats.card2 {
    background: rgb(255, 77, 7);
}
/*card3*/
.card-image.card3 {
    background: url("img/rigistreren.jpeg");
    background-size: cover;
}
.card-text.card3 .date {
    color: rgb(0, 189, 63);
}
.card-stats.card3 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
}
.card-stats.card3 {
    background: rgb(0, 189, 63);
}
.registratie-box {
    max-width: 450px;
    border-radius: 20px;
    margin: auto;
    background: rgb(32, 32, 32);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;


}
.registratie-box input{

    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    outline: none;
    margin: 10px;
    border: none;
    background: none;
    border-bottom: 2px solid yellow;
    color: white;
    border-radius: 5px;
    margin: 5px;

}
.reg{
    border:3px solid yellow ;
}
.registratie-box input::placeholder {
    color: #fff;
}
.registratie-box input[type=radio] {
    width: auto;
}

.pas input {
    color: white;
}
#sign\ up{
    width: 20%;
    background: none;
    border: 2px solid yellow;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0 ;
}
.btn:hover {
    border: 2px solid #FFF8DC;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
.balk a {
    margin: 0;
    overflow: hidden;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.balk a:last-child {
    margin-left: auto;
}

.balk {
    width: 100%;
    display: flex;
    background-color: #333;
    margin-bottom: auto;
}

.balk a:hover {
    background-color: yellow;
}
/* menuadmin catogrie
 */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper{
    height: 100%;
    width: 300px;
    position: relative;
}
.wrapper .menu-btn{
    position: absolute;
    left: 20px;
    top: 10px;
    background: #4a4a4a;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
    left: 247px;
}
.wrapper .menu-btn i{
    position: absolute;

    font-size: 23px;
    transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
    opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
    opacity: 1;
    transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
    opacity: 0;
    transform: rotate(180deg);
}
#sidebar{
    position: fixed;
    background: #404040;
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
    left: 0;
}
#sidebar .title{
    line-height: 65px;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    border-bottom: 1px solid #222;
}
#sidebar .list-items{
    position: relative;
    background: #404040;
    width: 100%;
    height: 100%;
    list-style: none;
}
#sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
}
#sidebar .list-items li:first-child{
    border-top: none;
}
#sidebar .list-items li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}
#sidebar .list-items li a i{
    margin-right: 20px;
}
#sidebar .list-items .icons{
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar .list-items .icons a{
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #4a4a4a;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
    background: #404040;
}
.list-items .icons a:first-child{
    margin-left: 0px;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #202020;
    z-index: -1;
    width: 100%;
    text-align: center;
}
.content .header{
    font-size: 45px;
    font-weight: 700;
}
.content p{
    font-size: 40px;
    font-weight: 700;
}
.btn2{
background-color: #484848;
border: none;
color: white;
padding: 12px 16px;
font-size: 16px;
cursor: pointer;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;

}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}






